/node_modules
/.vscode
/helper
/geo_data
/geo_model
/geo_dataMapping
/public/js/output
/test.js
/package-lock.json
/GeoModelServiceContainer_BAK_2019_3_1.zip
/GeoModelServiceContainer_BAK_2019_4_12.zip
/geoservicecontainer-linux
/geoservicecontainer-macos
/geoservicecontainer-win.exe
/visualization.zip
/public/views
/geoservicecontainer.exe
/upload/errlist.json
