<!DOCTYPE html>
<html>
    <head>
        <title>Detail</title>
        <%- include headInclude.ejs %>
        <link href="/css/uploadfile.css" rel="stylesheet" />
        <link href="/css/ol.css" type="text/css"/>
        <link rel="stylesheet" href="/css/ol3-layerswitcher.css" />
        <link rel="stylesheet" type="text/css" href="/js/gritter/css/jquery.gritter.css" />
    </head>
    <body class="sticky-header" style="background:#eff0f4" >
        <div id="ModelSerDetail" data-source="/modelser/json/<%=msid %>" ></div>
        <%- include footer.ejs %>
    <%- include footerInclude.ejs %>
    <script type="text/javascript" src="/js/output/bundle.js" ></script>
    </body>
</html>
