<!DOCTYPE html>
<html>
    <head>
        <title>Local Model Services</title>
        <%- include headInclude.ejs %>
        <link href="/css/uploadfile.css" rel="stylesheet" />
        <link href="/css/ol.css" type="text/css"/>
        <link rel="stylesheet" href="/css/ol3-layerswitcher.css" />
        <link rel="stylesheet" type="text/css" href="/js/gritter/css/jquery.gritter.css" />
        <!--dynamic table-->
        <link href="/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
        <link href="/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
        <link rel="stylesheet" href="/js/data-tables/DT_bootstrap.css" />
    </head>
    <body class="sticky-header" style="background:#eff0f4" >
        <section class="panel" >
            <header class="panel-heading">
                Local Model Services
            </header>
            <div class="panel-body">
                <div id="rmtModelSerTable" data-type="custom" data-source="/modelser/json/all" ></div>
            </div>
        </section>
        <%- include footer.ejs %>
    <%- include footerInclude.ejs %>
    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/js/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="/js/output/bundle.js" ></script>
    </body>
</html>