<!DOCTYPE html>
<html>
  <head>
    <title>Visualization</title>
    <link rel="stylesheet" href="/css/ol.css" type="text/css">
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/visualization/tiff/index.html?filename1=/geodata/<%=gdid %>" >TIFF</a></li>
        <li><a href="/visualization/swmm/index.html?filename1=/geodata/<%=gdid %>" >SWMM</a></li>
        <li><a href="/visualization/asciigrid/index.html?filename1=/geodata/<%=gdid %>" >ASCIIGRID</a></li>
      </ul>
    </div>
  </body>
</html>
